<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DatabaseConnection</servlet-name>
  	<display-name>DatabaseConnection</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.DatabaseConnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAccount</servlet-name>
  	<display-name>AddAccount</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.AddAccount</servlet-class>
  	<servlet-name>AddPatient</servlet-name>
  	<display-name>AddPatient</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.AddPatient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Profile</servlet-name>
  	<display-name>Profile</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.Profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.ChangePassword</servlet-class>
  	<servlet-name>AddMedication</servlet-name>
  	<display-name>AddMedication</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.AddMedication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPredicament</servlet-name>
  	<display-name>AddPredicament</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.AddPredicament</servlet-class>
  	<servlet-name>AssignMedication</servlet-name>
  	<display-name>AssignMedication</display-name>
  	<description></description>
  	<servlet-class>com.hms.controller.AssignMedication</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DatabaseConnection</servlet-name>
  	<url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAccount</servlet-name>
  	<url-pattern>/AddAccount</url-pattern>
  	<servlet-name>AddPatient</servlet-name>
  	<url-pattern>/AddPatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  	<servlet-name>AddMedication</servlet-name>
  	<url-pattern>/AddMedication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPredicament</servlet-name>
  	<url-pattern>/AddPredicament</url-pattern>
  	<servlet-name>AssignMedication</servlet-name>
  	<url-pattern>/AssignMedication</url-pattern>
  </servlet-mapping>
</web-app>
